
    <section class="details-card">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <!-- <img src="https://placeimg.com/380/230/nature" alt=""> -->
                            <img src="https://picsum.photos/id/237/536/354" alt="">
                        </div>
                        <div class="card-desc">
                            <h3>Programs Section</h3>
                            <p> This section provides basic functionality to Manage
                                the programs which are offered by university.
                            </p>
                            <a routerLink="/manageProgramsOffered" class="btn-card">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/animals" alt="">

                        </div>
                        <div class="card-desc">
                            <h3>Schedule Section</h3>
                            <p>This section offers facility to maintain and introduce
                                the schedules of programs provided.
                            </p>
                            <a routerLink="/manageProgramsScheduled" class="btn-card">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/tech" alt="">

                        </div>
                        <div class="card-desc">
                            <h3>Report Section</h3>
                            <p>
                                This section provides feature of generating various 
                                reports and performing analytics over them.
                            </p>
                            <a routerLink="/generateReports" class="btn-card">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
