/* card details start  */

/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i'); */

section {
    padding: 100px 0;
}

.details-card {
    background: #ecf0f1;
}

.heading {
    margin-bottom: 1.6rem;
    /* font-size: 1.6rem; */
}

.large-columns {
    display: none;
}

.short {
    width: 1px;
}

small{
    color: red;
}

@media screen and (max-width: 600px) {
    .hide-cell{
        display: none;
    }
    .form-group td{
        display: block;
    }
}
