<h1>Hello main component</h1>
<p>programs-scheduled works!</p>
<table cellspacing="5" border="3">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>location</th>
        <th>startdate</th>
        <th>enddate</th>
        <th>sessions</th>
        <th>Action</th>

    </tr>
    <tr>
    <tr *ngFor="let schedule of visibleSchedules">
        <td>{{schedule.id}}</td>
        <td>{{schedule.name}}</td>
        <td>{{schedule.location}}</td>
        <td>{{schedule.startdate}}</td>
        <td>{{schedule.enddate}}</td>
        <td> {{schedule.sessions}}</td>
        <td>
            <button (click)="deleteSchedule($event,schedule.id)">Delete</button>
        </td>
    </tr>
</table>
<button (click)="showForm=true">Add</button>
<div *ngIf="showForm">
    <h2>Add a new schedule</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit(scheduleForm)">
        <table>
            <tr>
                <td><label for="name">Select the Program Name:</label></td>
                <td>
                    <select formControlName="name" id="name">
                        <option disabled selected value> -- select an name -- </option>
                        <option *ngFor="let program of visiblePrograms" [value]="program.name">
                            {{program.name}}
                        </option>
                    </select>
                    <!-- <input type="text" formControlName="name" id="name"> -->
                    <small *ngIf="!scheduleForm.get('name').valid && scheduleForm.get('name').touched">
                        Select a valid program name</small>
                </td>
            </tr>
            <tr>
                <td><label for="startdate">Enter the Start Date:</label></td>
                <td>
                    <input type="date" formControlName="startdate" id="startdate" min="Date.now()">
                    <small *ngIf="!scheduleForm.get('startdate').valid && scheduleForm.get('startdate').touched">Enter a future and valid start date</small>
                </td>
            </tr>
            <tr>
                <td><label for="enddate">Enter the End Date:</label></td>
                <td>
                    <input type="date" formControlName="enddate" id="enddate">
                    <small *ngIf="!scheduleForm.get('enddate').valid && scheduleForm.get('enddate').touched">Enter a future and valid valid end date</small>
                </td>
            </tr>
            <tr>
                <td><label for="location">Enter the Location:</label></td>
                <td>
                    <input type="text" formControlName="location" id="location">
                    <small *ngIf="!scheduleForm.get('location').valid && scheduleForm.get('location').touched">Enter a valid location</small>
                </td>
            </tr>
            <tr>
                <td><label for="sessions">Enter the number of sessions per week:</label></td>
                <td>
                    <input type="text" formControlName="sessions" id="sessions">
                    <small *ngIf="!scheduleForm.get('sessions').valid && scheduleForm.get('sessions').touched">Enter a valid number sessions</small>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Schedule"><br>
                    <small *ngIf="invalidForm">Please fill the form properly</small><br>
                    <small *ngIf="timeError">The selected dates are not possible for scheduling</small>
                </td>
                <td>
                    <input type="reset" value="Clear Details">
                    <button (click)="showForm=false">Hide</button>
                </td>
            </tr>
        </table>
    </form>
</div>
