
      <h3 align="center">Applied courses</h3><br>
      <b>Search:</b> &nbsp;&nbsp;<input type="text" name="search" placeholder="Search by applicant ID" style="border-radius: 10px;">
      <br>
      <br>
      <table class="table table-hover">
          <thead class="thead-dark">
              <tr>
              <th>Applicant Id</th>
              <th>Applicant's name</th>
              <th>Applied Course</th>
              <th>Applied on Date</th>
          </tr>
          </thead>
            <tr>
              <td>A101</td>
              <td>Sonu</td>
              <td>B.E.</td>
              <td>01-05-2020</td>
            </tr>
            <tr>
              <td>A102</td>
              <td>Siddharth</td>
              <td>M.B.B.S</td>
              <td>10-05-2020</td>
            </tr>
 </table>
