<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Members of Admission committee</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="background-color: #ecf0f1;">
      <h3 align="center">Applied courses</h3><br>
      <b>Search:</b> &nbsp;&nbsp;<input type="text" name="search" placeholder="Search by applicant ID" style="border-radius: 10px;">
      <br>
      <br>
      <table class="table table-hover">
          <thead class="thead-dark">
              <tr>
              <th>Applicant Id</th>
              <th>Applicant's name</th>
              <th>Applied Course</th>
          </tr>
          </thead>
        </table>
      </body>
      </html>
