<section class="details-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ">
                <div class="row">
                    <table class="table table-light table-bordered table-hover rounded">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Online Services</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col"><a routerLink="/applicant">Apply Online</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a routerLink="/applicant">View Status</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a routerLink="/applicant">View Programs</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a routerLink="/mac">View Participants</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a routerLink="/admin">View Admin Section</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a routerLink="/mac">View M.A.C Section</a></td>
                            </tr>
                            <tr>
                                <td scope="col"><a href="#">Contact Us</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="h5 ">Stuck at choices??</p>
                        <figure class="figure my-3">
                            <img src="assets/images/tech.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
                            <figcaption class="figure-caption text-center">Talk to our Career Counsellor
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">
                            Consult our educational experts for zero fee and get guidance for your bright
                            future. We provide guidance for more than 150 full time courses alongwith 50 and more
                            vocational training programs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 bg-light">

                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center display-4">
                            Welcome to Anonymous University
                            <!-- <h1 class="display-4">Welcome to AatmNirbhar University</h1> -->
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="text-justify">
                            What is Lorem Ipsum?
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of
                            Lorem Ipsum
                            What is Lorem Ipsum?
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of
                            Lorem Ipsum
                            What is Lorem Ipsum?

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <figure class="figure">
                            <img src="assets/images/books.jpeg" class="figure-img img-fluid rounded" alt="Responsive image">
                            <figcaption class="figure-caption text-center">Explore literature</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure class="figure">
                            <img src="assets/images/coding.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
                            <figcaption class="figure-caption text-center">Love robots??</figcaption>
                        </figure>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">
                            What is Lorem Ipsum?
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of
                            Lorem Ipsum
                            What is Lorem Ipsum?
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including
                            versions of
                            Lorem Ipsum
                            What is Lorem Ipsum?

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <figure class="figure">
                            <img src="assets/images/medical.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
                            <figcaption class="figure-caption text-center">Learning Medical Science</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure class="figure">
                            <img src="assets/images/vfx.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
                            <figcaption class="figure-caption text-center">Summon your fictional warriors
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <img src="assets/images/library.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
                    <figcaption class="figure-caption text-center">We have books in our library</figcaption>
                </figure>
                <p class="text-justify">
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum
                </p>
            </div>
        </div>
        <hr>
    </div>
</section>
